html {  
  background: $defaultsize-bgcolor url('big-spacing-1140.png') repeat-y fixed center;
  --fill: #f7f6f144;
}
body {
  display:flex;
}
header, footer {
  text-align: center;
  height:100px;
  width:100vw;
  margin: auto;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex: 1;
}

[data-wf] {outline: 2px solid $wireframe-color;
  position: relative; z-index: 1;}
[data-wf]::before {
  position: absolute; z-index: 8675309;
  top: 0; bottom: 0; right: 0; left: 0;
  display: flex; justify-content: center; align-items: center;
  content: attr(data-wf);
  font: bold 2em Jubilat, Georgia, serif;
  color: #555;
  text-shadow:
    0 0 0.25em var(--fill), 0 0 0.25em var(--fill),
    0 0 0.25em var(--fill), 0 0 0.25em var(--fill),
    0 0 0.25em var(--fill);
  background:
    linear-gradient(to top right,
      transparent calc(50% - 1px), $wireframe-color calc(50% - 1px),
      $wireframe-color calc(50% + 1px), transparent calc(50% + 1px)),
    linear-gradient(to bottom right,
      transparent calc(50% - 1px), $wireframe-color calc(50% - 1px),
      $wireframe-color calc(50% + 1px), transparent calc(50% + 1px)),
    var(--fill);  
}

/* screen maxumum 1024 */
@import "./style-media@1024.scss"; 
/* screen maxumum 768 */
@import "./style-media@768.scss";
/* screen maxumum 480 */
@import "./style-media@480.scss";


