/* import reset.css (optional) */
@import "./reset.css";

$primary-color: #3e6f9e;
$secondary-color: #00a1bf;

$wireframe-color: #ccc;

$defaultsize-bgcolor: #87fffd;
$bigsize-bgcolor: #beff87;
$midsize-bgcolor: #f980ff;
$smallsize-bgcolor: #ffd180;
