/* import reset.css (optional) */
@import "./reset.css";

$primary-color: #3e6f9e;
$secondary-color: #00a1bf;

$defaultsize-color: #87fffd;
$bigsize-color: #beff87;
$midsize-color: #f980ff;
$smallsize-color: #ffd180;
