<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HTML templates</title>
</head>

<body class="site">
  <header>Head</header>
  <div id="Container" class="container site-content">
    
    <p id="Ruler" class="ruler decorative-line">Hello!</p>  
    <div class="layout">
      <div class="child">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="child">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="child last-row">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

  </div>

  <footer>Foot</footer>



</body>

</html>